#sidebar {
    width: 250px;
    transition: width 0.3s ease;
    overflow: hidden;
}

#sidebar.collapsed {
    width: 70px;
}

#sidebar .linkTitles,
#sidebar .nav-link span {
    transition: opacity 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

#sidebar.collapsed .nav-link span,
#sidebar.collapsed span.linkTitles {
    display: none;
    pointer-events: none;
}

#sidebar.collapsed .nav-item a,
#sidebar.collapsed .nav-pills .nav-item.logoutList {
    width: 3em;
    height: 2.5rem;
}

#sidebarToggle {
    border: none;
    background-color: white;
}

#sidebar .nav-link {
    border-radius: 8px;
    margin-bottom: 4px;
    transition: all 0.2s;
}

#sidebar .nav-link.active {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    color: white !important;
}

#sidebar .nav-link.active:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    color: white !important;
}

#sidebar .nav-link:hover {
    background-color: #e9ecef;
    color: #000 !important;
}

#sidebar .nav-link.logout:hover {
    background-color: #e9ecef;
    color: red !important;
}

.arrow {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    width: 35px;
    height: 35px;
    z-index: 999;
}

.vh-100-minus-12em {
    height: calc(100vh - 12em);
}

.badge-admin {
    background-color: #fde2e1 !important;
    color: #b02a37 !important;
}

.badge-manager {
    background-color: #e7f1ff !important;
    color: #084298 !important;
}

.badge-staff {
    background-color: #e6f4ea !important;
    color: #1e7e34 !important;
}